/* ============================================================
   DevVerse — css/pages/signup.css
   Page-specific styles for signup.html only.
   ============================================================ */


#signup-form .form-group {
  margin-bottom: 4px;
}


#signup-form .form-row-two-col {
  margin-bottom: 20px;
}



@media (max-width: 530px) {
  .btn {width: 100%;}
}

@media (max-width: 490px) {
  #login-form .form-group {
    margin-bottom: 30px;
  }
  
  #login-form .form-group:last-of-type {
    margin-bottom: 25px;
  }

  .auth-card { margin: 0 16px; padding: 28px 28px; }
  .auth-body { padding: 24px 25px; }

  .btn {width: 100%;}

  .auth-navbar__link { display: none; }

}